<div class="col-md-6">
    <div class="card" id="{{ indicator }}">
        <div class="card-body">
            <div class="d-flex flex-row align-items-end clearfix">
                <h3 class="card-title float-left">{{ title }}</h3>
                <p class="card-title float-left ml-2 muted">{{ subtitle }}</p>
            </div>
            <div class="time-descr text-muted">for <span class="time"></span></div>
            <div class="container mt-4">
                <div class="row highlight">
                    <div class="col">
                        <h1 class="reading text-right"></h1>
                    </div>
                    <div class="col text-left">
                        <span class="region label text-muted text-capitalize"></span><br>
                        <span class="band"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="reading-grp col-4 offset-1 col-xl offset-xl-0 text-center region-north">
                    <span class="region-label">North</span>
                    <h3 class="reading">X</h3>
                    <span class="band"></span>
                </div>
                <div class="reading-grp col-4 offset-2 col-xl offset-xl-0 text-center region-south">
                    <span class="region-label">South</span>
                    <h3 class="reading">X</h3>
                    <span class="band"></span>
                </div>
                <div class="reading-grp col-4 col-xl text-center region-east">
                    <span class="region-label">East</span>
                    <h3 class="reading">X</h3>
                    <span class="band"></span>
                </div>
                <div class="reading-grp col-4 col-xl text-center region-west">
                    <span class="region-label">West</span>
                    <h3 class="reading">X</h3>
                    <span class="band"></span>
                </div>
                <div class="reading-grp col-4 col-xl text-center region-central">
                    <span class="region-label">Central</span>
                    <h3 class="reading">X</h3>
                    <span class="band"></span>
                </div>
            </div>
        </div>
    </div>
</div>